<h2>Utilisateur</h2>
{{input value=this.user
        placeholder="ENtrez votre nom..."}}
<div>Vous avez saisi : {{user}}</div>
{{input value=this.user
        placeholder="Entrez aussi votre prénom..."}}
{{outlet}}
